<div class="container-fluid">
    <div class="row text-center">
       
       <h1>Operational Footprint</h1>
    </div>
    
    <div id="footprint_nav">
      <ul class="nav nav-tabs" id="myTab">
			  <li class="active"><a data-target="#summary" data-toggle="tab">Summary</a></li>
			  <li><a data-target="#syria" data-toggle="tab">Syria</a></li>
			  <li><a data-target="#jordan" data-toggle="tab">Jordan</a></li>
			  <li><a data-target="#turkey" data-toggle="tab">Turkey</a></li>
			  <li><a data-target="#lebanon" data-toggle="tab">Lebanon</a></li>
			  <li><a data-target="#kri" data-toggle="tab">KRI</a></li>
			  
			  <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">By Sector</a>
		      <ul class="dropdown-menu">
            <li><a href="#food">Food and Cash</a></li>
            <li><a href="#wash">WASH</a></li>
            <li><a href="#health">Health</a></li>
          </ul>
			  </li>
			</ul>

			<div class="tab-content">
			  <div class="tab-pane active" id="summary">World Vision began responding to the needs of displaced children and families in and around Syria in 2011 through its existing presence in vulnerable communities across Lebanon. Since then, World Vision’s Syria Crisis Response has expanded to include five countries: Syria, Jordan, Iraq, Lebanon and Turkey.
			    <%=image_tag("map.png", alt: "Syria Response Map", class: "map")%></div>
			    
			  <div class="tab-pane" id="syria"><%=image_tag("Syria.png", alt: "Syria Map", class: "country")%></div>
			  <div class="tab-pane" id="jordan"><%=image_tag("Jordan.png", alt: "Jordan Map", class: "country")%></div>
			  <div class="tab-pane" id="turkey"><%=image_tag("Turkey.png", alt: "Turkey Map", class: "country")%></div>
			  <div class="tab-pane" id="lebanon"><%=image_tag("Lebanon.png", alt: "lebanon Map", class: "country")%></div>
			  <div class="tab-pane" id="kri"><%=image_tag("KRI.png", alt: "KRI Map", class: "country")%></div>
  		</div>
    </div>
</div>
    