<div class="container-fluid">
    <div class="row text-center">
        <h1>Operational Impact</h1>
    </div>
    
    <div class="row text-center">
        <div class="col-md-4 well">
            <h2>Demographics</h2>
            <%=image_tag("demographics.JPG", alt: "demographics icon", class: "map")%>
        </div>
        
        <div class="col-md-4 well">
            <h2>Dignity</h2>
            <%=image_tag("dignity.JPG", alt: "dignity icon", class: "map")%>
        </div>
        
        <div class="col-md-4 well">
            <h2>Levels of Satisfaction</h2>
            <%=image_tag("satisfaction.jpg", alt: "satisfaction icon", class: "map")%>
        </div>
    </div>
    
    <div class="row text-center">
        <div class="col-md-4 well">
            <h2>Food</h2>
            <%=image_tag("food.JPG", alt: "food icon", class: "map")%>
        </div>
        
        <div class="col-md-4 well">
            <h2>WASH</h2>
            <%=image_tag("wash.jpg", alt: "WASH icon", class: "map")%>
        </div>
        
        <div class="col-md-4 well">
            <h2>Safety</h2>
            <%=image_tag("safety.jpg", alt: "safety icon", class: "map")%>
        </div>
    </div>
    
    <div class="row text-center">
        <div class="col-md-4 well">
            <h2>Physical Health</h2>
            <%=image_tag("physical.jpg", alt: "physical icon", class: "map")%>
        </div>
        
        <div class="col-md-4 well">
            <h2>Physcological Health</h2>
            <%=image_tag("physological.jpg", alt: "Physcological icon", class: "map")%>
        </div>
        
        <div class="col-md-4 well">
            <h2>Protection</h2>
            <%=image_tag("protection.JPG", alt: "protection icon", class: "map")%>
        </div>
        
    </div>
        
    
</div>